{% extends "base.html" %}

{% block title %}
Contact Us
{% endblock %}

{% block header %}
<h2>Contact Us</h2>
{% if errors %}
{% for error in errors %}
    <ul>
        <li>{{ error }}</li>
    </ul>
{% endfor %}
{% endif %}
{% endblock %}

{% block content %}
<form action="/books/contact/" method="post">{% csrf_token %}
<p>subject: <input type="text" name="subject"/></p>
<p>&nbsp;&nbsp;&nbsp;mail: <input type="text" name="email"/></p>
<p>message: <textarea name="message" rows="10" cols="50"></textarea></p>
<input type="submit" value="submit"/>
</form>
{% endblock %}